*{
  margin: 0px;
  padding: 0px;
  border: 0px;
  outline: none;
  font-family: 'Roboto';
}

[data-scroll] {
  transition:  opacity 0.5s linear 0.05s, transform 0.5s linear 0.05s;
}
[data-scroll="in"] {
  opacity: 1;
  transform: translateY(0px);
}
[data-scroll="out"]{
  opacity: 0;
  transform: translateY(40px);
}

@font-face{
  font-family: 'Nexa';
  src: url("../Fonts/Nexa Bold.otf");
}
@font-face{
  font-family: 'RobotoBold';
  src: url("../Fonts/Roboto-Bold.ttf");
}
@font-face{
  font-family: 'Roboto';
  src: url("../Fonts/Roboto-Regular.ttf");
}

Body{
  /* background: red; */
}

h1, h2, h3{
  font-family: 'Nexa';
}

h4, h5{
  font-family: 'RobotoBold';
}

p{
  font-family: 'Roboto';
}


/* NAV start ver 1.0 */
nav{
  position:fixed;
  top: 0px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 30px;
  /* height: 50px; */
  line-height: 50px;
  background-color: #000E42;
  z-index: 1;

}

.Nav-left{
  float: left;
}

.Nav-left a img{
  vertical-align: middle;
  height: 30px;
}

.Nav-right{
  float: right;
  flex-direction: row;
  display: flex;
  column-gap: 30px;
  flex-wrap: wrap;
}

.Nav-right a{
  color: white;
  text-decoration: none;
}

.Navoff{
  color: white;
}

footer{
  min-height: 183px;
  display: block;
  background-color: #000E42;
  overflow: hidden;
}

.leftfooter{
  float: left;
  width: 40%;
  padding: 20px 0px 20px 80px;
  box-sizing: border-box;
}

.footerimages img{
  margin-right: 10px;
}

.leftfooter p{
  font-weight: 100;
  font-size: 10px;
  line-height: 10px;
  color: white;
  margin: 10px 0px;
}

.footericons img{
  width: 15px;
  margin-right: 20px;
}

.rightfooter{
  float: right;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 100px;
  grid-row-gap: 15px;
  margin: 32px 10% 0px 0px;
}

.rightfooter a{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;

}

main{
  margin-top: 50px;
}
/* NAV end */

.Section1{
  width: 100%;
  height: 815px;
  background: url("../Images/3 Section1.png");
  background-size: cover;
  color: white;
  box-sizing: border-box;
  padding: 120px 15%;
}

.Section2{
  width: 100%;
  height: 943px;
  background: url("../Images/3 Section2.png");
  background-size: cover;
}

.Section2Text{
  height: 180px;
  text-align: center;
  padding-top: 45px;
  box-sizing: border-box;
  vertical-align: middle;
}

.Section2Text h1{
  font-size: 37px;
  line-height: 56px;
  color: #2857CE;
}

.Section2Text p{
  font-size: 20px;
  line-height: 23px;
  color: #000E42;
}

.Section2_1{
  width: 872px;
  height: 660px;
  /* background-color: yellow; */
  box-sizing: border-box;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 38px;
  align-items: center;
  padding: 0px 20px;
}

.Candidate2_1{
  height: 300px;
  text-align: center;
  background-color: white;
  border-radius: 25px;
  box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.Candidate2_1 img{
  width: 253px;
  height: 239px;
  margin: auto;
}

.Candidate2_1 h2{
  font-size: 20px;
  line-height: 30px;
}

.Candidate2_1 h3{
  font-size: 14px;
  line-height: 16px;
}

.Section2pop{
  width: 100%;
  height: 943px;
  background: linear-gradient(180deg, rgba(10, 162, 209, 0.15) 0%, rgba(40, 87, 206, 0.9) 100%);
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
}

.Section2_1pop{
  width: 832px;
  height: 300px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  left: calc(50% - 416px);
  visibility: hidden;
  position: absolute;
  margin: 185px 0px 0px;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
}

.Section2_1pop2{
  width: 832px;
  height: 300px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  left: calc(50% - 416px);
  visibility: hidden;
  position: absolute;
  margin: 534px auto 0px;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
}
